* {
  margin: 0;
  padding: 0;
}

.alert {
  width: 100%;
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--primary-button-text-color);
  max-width: 1440px;
  z-index: 9999;
  text-align: center;
}

.error {
  background-color: var(--primary-error-color);
}
