* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 9990;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
    min-height: 100px;
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    z-index: 9999;

    .text {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .buttons_content {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .button {
    width: 30%;
    cursor: pointer;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);

    &:hover {
      background-color: var(--primary-button-hover-color);
    }

    &.disabled {
      background-color: var(--primary-button-hover-color);
      opacity: 0.33;
      cursor: default;
    }
  }
}
