* {
  padding: 0;
  margin-top: 10rem;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: var(--secondary-font-family);
}
h1 {
  letter-spacing: -1px;
}
a {
  color: var(--primary-link-color);
  text-decoration: unset;
}

.padding-horizontal--48 {
  padding: 48px;
}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow:
    rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}
label {
  margin-bottom: 10px;
}
.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}
