@let currentOrder = order();
@if (currentOrder) {
  <div class="wrapper">
    <div class="trip">
      <div class="path">
        <div class="start-point">
          <div class="date">
            {{ currentOrder.startTripTime | date: 'MMM d, HH:mm' }}
          </div>
          <!-- <div class="city">{{ currentOrder.startTripStation }}</div> -->
        </div>
        <div class="path-line">{{ currentOrder.tripDuration }}</div>
        <div class="end-point">
          <div class="date">
            {{ currentOrder.endTripTime | date: 'MMM d, HH:mm' }}
          </div>
          <!-- <div class="city">{{ currentOrder.endTripStation }}</div> -->
        </div>
      </div>
      <div class="route">
        <div class="stations">
          <svg-icon
            src="assets/icons/high-speed-rail.svg"
            [svgClass]="'icon'"
          ></svg-icon>
          <div class="city">{{ currentOrder.startTripStation }}</div>
          <span class="arrow">&#8614;</span>
          <div class="city">{{ currentOrder.endTripStation }}</div>
        </div>
      </div>
      @if (getIsManager()) {
        <div class="user">
          <span class="field">user: </span
          ><span class="value">{{ currentOrder.userName }}</span>
        </div>
      }
    </div>
    <div class="carriage">
      <span class="carriage-type">
        <span class="field">carriage type: </span>
        <span class="value">{{ currentOrder.carriageType }}</span>
      </span>
      <span class="seat">
        <span class="field">seat number: </span>
        <span class="value">{{ currentOrder.seatNumber }}</span></span
      >
      <span class="car"
        ><span class="field">car number: </span>
        <span class="value">{{ currentOrder.carNumber }}</span></span
      >
      <span class="price">
        <span class="value">{{
          currentOrder.price | currency: '' : true
        }}</span>
      </span>
    </div>

    <div class="button-wrapper">
      @if (getIsDeletable()) {
        <p-button
          icon="pi pi-times"
          (click)="onCancelOrder()"
          severity="danger"
        />
      }
    </div>

    <div class="status">
      <p-tag [value]="currentOrder.status" severity="info" [rounded]="true" />
    </div>
  </div>
}
