<div class="wrapper">
  <div class="block_content">
    <div class="content">
      <p class="name">{{ this.data.name }}</p>
      <p class="count">
        {{ (this.data.leftSeats + this.data.rightSeats) * this.data.rows }}
        seats
      </p>
      <p>({{ (active$ | async) ? 'Active' : 'Inactive' }})</p>
    </div>
    <div class="block_button">
      <p-button class="icon" [text]="true" type="button" icon="pi pi-pencil" (click)="change()" />
      <p-button
        class="icon"
        [text]="true"
        type="button"
        icon="pi pi-trash"
        (click)="handleClickDelete()"
      />
    </div>
  </div>
  <app-carriage-view [data]="dataView" />
</div>
