* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 2%;

  .block_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
  }

  .content {
    display: flex;
  }

  .count {
    margin-left: 1.5rem;
    border: 1px solid var(secondary-border-color);
    border-radius: 10%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-right: 0.4rem;
  }

  .block_button {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    &:hover {
      transform: var(--primary-icon-transform);
    }
  }
}
