.custom-tabview {
  width: 100%;
}
.custom-tabview {
  ::ng-deep .p-tabview-nav {
    gap: 1rem;
    font: var(--primary-sm-font);
    background-color: var(--primary-card-background-color);
  }

  ::ng-deep .p-tabview-nav li {
    position: relative;
    padding: 1rem 2rem;
    border-right: var(--secondary-border);
  }

  ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: none;
    color: var(--primary-tab-text-color);
  }

  ::ng-deep .p-tabview .p-tabview-panels {
    background-color: var(--primary-card-background-color);
  }
}
