.custom-tabview {
  width: 100%;
}
.custom-tabview {
  ::ng-deep .p-tabview-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font: var(--primary-sm-font);
    background-color: rgba(255, 255, 255, 0.5);
  }

  ::ng-deep .p-tabview-nav li {
    position: relative;
    padding: 10px 20px;
    border-right: var(--secondary-border);
  }

  ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: none;
    color: rgb(0, 140, 255);
  }

  ::ng-deep .p-tabview .p-tabview-panels {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
