* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  overflow: hidden;
  background-color: var(--primary-card-background-color);
  margin-left: auto;
  margin-right: auto;
}

.carries {
  width: calc(100% - 90px);
  padding: 1rem;
}

.button {
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__line {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.line__input {
  width: 1rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.view {
  margin-bottom: 0.5rem;
}
