.train-car-wrapper {
  //background-color: var(--color-secondary-a10);
  border-radius: 5%;
  border: 1px solid var(--color-secondary-a30);
  font-size: 16px;
  margin: 15px 0;
  overflow: auto;
  width: 100%;

  .trip-car-header {
    padding: 15px;
    display: flex;
  }
  .train-seats-available-wrapper {
    margin-left: 10px;
    padding: 0 5px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid var(--color-secondary-a30);
  }
  .train-seats-wrapper {
    padding: 15px;
  }
  .train-seats-wrapper-items {
    display: flex;
    padding: 10px 0;
  }
}

@media (max-width: 800px) {
  .train-car-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .train-seats-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .train-seats-wrapper-items {
    display: flex;
    flex-direction: column;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
