* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-bottom: 1rem;
  background-color: var(--secondary-card-background-color);
  border-radius: 1rem;
  position: relative;
}

.title {
  padding: 1rem;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
}
