<div class="wrapper">
  <h3 class="title">Ride {{ data?.rideId }}</h3>
  <div>
    @for (item of data?.segments; track $index) {
      <app-ride-info-content
        [index]="$index"
        [name]="(stationName$ | async)?.[$index]"
        [segment]="item"
        [pos]="
          $index === 0
            ? 'start'
            : (data?.segments || []).length - 1 === $index
              ? 'finish'
              : ''
        "
        (changed)="onChangeData($event)"
      />
    }
  </div>
</div>
