@if (showConfirm()) {
  <app-confirm
    [ride]="true"
    [data]="data!.rideId"
    (changed)="onChangeDelete($event)"
    (yesDelete)="onChangeYesDelete($event)"
  />
}

<div class="wrapper">
  <h3 class="title">Ride {{ data?.rideId }}</h3>
  <div class="custom-button-wrapper">
    <p-button class="icon" type="button" icon="pi pi-trash" (click)="handleClickDelete()" />
  </div>
  <div>
    @for (item of data?.segments; track $index) {
      <app-ride-info-content
        [index]="$index"
        [name]="(stationName$ | async)?.[$index]"
        [segment]="item"
        [segmentPrev]="data!.segments[$index - 1]"
        [segmentNext]="data!.segments[$index + 1]"
        [pos]="
          $index === 0 ? 'start' : (data?.segments || []).length - 1 === $index ? 'finish' : ''
        "
        [openEditTimeForm]="editTime()"
        [openEditPriceForm]="editPrice()"
        (changed)="onChangeData($event)"
        (openEditTime)="onEditTime($event)"
        (openEditPrice)="onEditPrice($event)"
      />
    }
  </div>
</div>
