* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-bottom: 10px;
  background-color: var(--secondary-card-background-color);
  border-radius: 10px;
  position: relative;
}

.title {
  padding: 10px;
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
