<div class="container">
  <h1>Sign In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="p-field">
      <label for="email">Email</label>
      <input
        id="email"
        pInputText
        formControlName="email"
        type="email"
        placeholder="hello@world.com"
      />
      @if (loginForm.get('email')?.hasError('required') && isShowingErrors) {
        <small class="p-error">Enter a valid email</small>
      }
    </div>

    <div class="p-field">
      <label for="password">Password</label>
      <p-password
        id="password"
        formControlName="password"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="test"
      />
      @if (loginForm.get('password')?.invalid && isShowingErrors) {
        <small class="p-error">Password is required</small>
      }
    </div>

    <p-button
      pButton
      type="submit"
      label="Sign In"
      [disabled]="loginForm.invalid"
    />
  </form>

  <a routerLink="/auth/signup">Sign Up</a>
</div>
