<app-auth-form>
  <form id="stripe-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1>Sign In</h1>
    <a [routerLink]="['']" class="back"><i class="pi pi-chevron-left"></i></a>
    <div class="field padding-bottom--24">
      <label for="email">Email</label>
      <input
        id="email"
        class="input"
        pInputText
        formControlName="email"
        type="email"
        placeholder="hello@world.com"
      />
      @let email = loginForm.get('email');
      @if (email) {
        @if (email.hasError('required') && isShowingErrors) {
          <small class="p-error">Email is required</small>
        }
        @if (email.hasError('email') && isShowingErrors) {
          <small class="p-error">Email is invalid</small>
        }
      }
    </div>
    <div class="field padding-bottom--24">
      <div class="grid--50-50">
        <label for="password">Password</label>
        <div class="reset-pass">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
      <p-password
        id="password"
        formControlName="password"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="test"
      />
      @if (loginForm.get('password')?.invalid && isShowingErrors) {
        <small class="p-error">Password is required</small>
      }
    </div>
    <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
      <label for="checkbox">
        <input type="checkbox" name="checkbox" /> Stay signed in for a week
      </label>
    </div>
    <div class="field padding-bottom--24">
      <p-button type="submit" label="Sign Up" />
    </div>
    <div class="field">
      <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
    </div>
  </form>
  <div class="footer-link padding-top--24">
    <span>Dont have an account? <a href="auth/signup">Sign up</a></span>
  </div>
</app-auth-form>
