* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 45% 45%;
  border-top: 1px solid var(--primary-background-color);
}

.name {
  background-color: #fef3c7;
  width: 100px;
  padding: 10px;
}

.time {
  flex-shrink: 0;
  padding: 30px;
  position: relative;
}

.price_content {
  flex-shrink: 0;
  padding-top: 10px;
  position: relative;
}

.price_box {
  display: flex;
}

.edit {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    transform: scale(1.2);
  }
}
.price {
  width: 100%;
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .name {
    width: 100%;
  }

  .time {
    padding: 1rem;
  }

  .price_content {
    margin-top: 1rem;
    padding: 1rem;
  }
}
