* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 45% 45%;
  border-top: 1px solid var(--primary-background-color);
}

.name {
  background-color: #fef3c7;
  width: 100px;
  padding: 10px;
}

.time {
  flex-shrink: 0;
  padding: 30px;
  position: relative;
}

.price_content {
  flex-shrink: 0;
  padding-top: 10px;
  position: relative;
}

.price_box {
  display: flex;
}

.edit {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    transform: scale(1.2);
  }
}

.wrapper {
  ::ng-deep .p-button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0;
  }
  ::ng-deep .pi {
    color: var(--primary-button-color);
  }
}

.price {
  width: 100%;
}

:host {
  ::ng-deep .p-button:focus,
  ::ng-deep .p-button:enabled:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
