@if (alert()) {
  <app-message [error]="true" [text]="alertText()" />
}

@if (alertPrice()) {
  <app-message [error]="true" [text]="alertTextPrice()" />
}

<div class="wrapper">
  <div class="name">{{ name }}</div>
  <div class="time">
    @if (create) {
    } @else if (editTime()) {
      <p-button
        type="button"
        class="edit save-button"
        [rounded]="true"
        icon="pi pi-save"
        (click)="handleClickSaveTime()"
        [raised]="true"
        [text]="true"
      />
    } @else {
      <p-button
        type="button"
        class="edit save-button"
        [rounded]="true"
        icon="pi pi-pencil"
        (click)="handleClickEditTime()"
        [raised]="true"
        [text]="true"
      />
    }
    @if (pos !== 'start') {
      <p>
        Arrival:
        @if (create) {
          <input
            type="datetime-local"
            name="arrival"
            id="arrival"
            (change)="handleChangeTime($event)"
          />
        } @else if (editTime()) {
          <input
            type="datetime-local"
            name="arrival"
            id="arrival"
            [value]="segment?.time?.[0] | date: 'yyyy-MM-ddTHH:mm' : '-0000'"
            (change)="handleChangeTime($event)"
          />
        } @else {
          <span>
            {{ segment?.time?.[0] | date: 'yyyy-MM-dd h:mm a' : '-0000' }}
          </span>
        }
      </p>
    }
    @if (pos !== 'finish') {
      <p>
        Departure:
        @if (create) {
          <input
            type="datetime-local"
            name="departure"
            id="departure"
            (change)="handleChangeTime($event)"
          />
        } @else if (editTime()) {
          <input
            type="datetime-local"
            name="departure"
            id="departure"
            [value]="segment?.time?.[1] | date: 'yyyy-MM-ddTHH:mm' : '-0000'"
            (change)="handleChangeTime($event)"
          />
        } @else {
          <span>
            {{ segment?.time?.[1] | date: 'yyyy-MM-dd h:mm a' : '-0000' }}
          </span>
        }
      </p>
    }
  </div>
  <div class="price_content">
    @if (create) {
    } @else if (editPrice()) {
      <p-button
        type="button"
        class="edit save-button"
        [rounded]="true"
        icon="pi pi-save"
        (click)="handleClickSavePrice()"
        [raised]="true"
        [text]="true"
      />
    } @else {
      <p-button
        type="button"
        class="edit save-button"
        [rounded]="true"
        icon="pi pi-pencil"
        (click)="handleClickEditPrice()"
        [raised]="true"
        [text]="true"
      />
    }
    <p>Price</p>
    @for (item of price(); track $index) {
      <div class="price_box">
        <div>{{ item[0] }}</div>
        <div>{{ ' - ' }}</div>
        <div>
          @if (create) {
            <input
              type="number"
              name="price"
              id="price"
              class="price"
              min="1"
              (change)="handleChangePrice($event, $index)"
            />
          } @else if (editPrice()) {
            <input
              type="number"
              name="price"
              id="price"
              [value]="item[1]"
              class="price"
              min="1"
              (change)="handleChangePrice($event, $index)"
            />
          } @else {
            <span>
              {{ item[1] }}
            </span>
          }
        </div>
      </div>
    }
  </div>
</div>
