<app-auth-form>
  <form id="stripe-login" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h1>Sign Up</h1>
    <a [routerLink]="['']" class="back"><i class="pi pi-chevron-left"></i></a>
    <div class="field padding-bottom--24">
      <label for="email">Email</label>
      <input
        id="email"
        class="input"
        pInputText
        formControlName="email"
        type="email"
        placeholder="hello@world.com"
      />
      @let email = registerForm.get('email');
      @if (email) {
        @if (email.hasError('required') && isShowingErrors) {
          <small class="p-error">Email is required</small>
        }
        @if (email.hasError('email') && isShowingErrors) {
          <small class="p-error">Email is invalid</small>
        }
      }
    </div>
    <div class="field padding-bottom--24">
      <label for="password">Password</label>
      <p-password id="password" formControlName="password" [toggleMask]="true">
        <ng-template pTemplate="footer">
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            @let password = registerForm.get('password');
            @if (password) {
              @let hasLowercase = isPasswordMatch('[a-z]');
              @let hasUppercase = isPasswordMatch('[A-Z]');
              @let hasNumeric = isPasswordMatch('[0-9]');
              @let hasLength =
                password.value.length >= 8 && password.value.length <= 30;

              <li [ngClass]="{ valid: hasLowercase, invalid: !hasLowercase }">
                At least one lowercase
              </li>
              <li [ngClass]="{ valid: hasUppercase, invalid: !hasUppercase }">
                At least one uppercase
              </li>
              <li [ngClass]="{ valid: hasNumeric, invalid: !hasNumeric }">
                At least one numeric
              </li>
              <li [ngClass]="{ valid: hasLength, invalid: !hasLength }">
                Number of characters 8-30
              </li>
            }
          </ul>
        </ng-template>
      </p-password>
      @if (registerForm.get('password')?.invalid && isShowingErrors) {
        <small class="p-error">Password is required</small>
      }
    </div>

    <div class="field padding-bottom--24">
      <label for="repeatPassword">Repeat Password</label>
      <p-password
        id="password"
        formControlName="repeatPassword"
        [feedback]="false"
        [toggleMask]="true"
      />
      @if (registerForm.get('repeatPassword')?.invalid && isShowingErrors) {
        <small class="p-error">Passwords do not match</small>
      }
    </div>
    <div class="field padding-bottom--24">
      <p-button type="submit" label="Sign Up" />
    </div>
    <div class="field">
      <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
    </div>
  </form>
  <div class="footer-link padding-top--24">
    <span>Already have an account? <a href="auth/signin">Sign in</a></span>
  </div>
</app-auth-form>
