<app-auth-form>
  <h1>Sign Up</h1>

  <form id="stripe-login" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="field padding-bottom--24">
      <label for="email">Email</label>
      <input
        id="email"
        class="input"
        pInputText
        formControlName="email"
        type="email"
        placeholder="hello@world.com"
      />
      @if (registerForm.get('email')?.invalid && isShowingErrors) {
        <small class="p-error">Enter a valid email</small>
      }
    </div>
    <div class="field padding-bottom--24">
      <label for="password">Password</label>
      <p-password
        id="password"
        formControlName="password"
        [toggleMask]="true"
        [feedback]="false"
      />
      @if (registerForm.get('password')?.invalid && isShowingErrors) {
        <small class="p-error">Password is required</small>
      }
    </div>

    <div class="field padding-bottom--24">
      <label for="repeatPassword">Repeat Password</label>
      <p-password
        id="password"
        formControlName="repeatPassword"
        [feedback]="false"
      />
      @if (registerForm.get('repeatPassword')?.invalid && isShowingErrors) {
        <small class="p-error">Passwords do not match</small>
      }
    </div>
    <div class="field padding-bottom--24">
      <p-button
        type="submit"
        label="Sign Up"
        [disabled]="registerForm.invalid"
      />
    </div>
    <div class="field">
      <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
    </div>
  </form>
</app-auth-form>
<div class="footer-link padding-top--24">
  <span>Already have an account? <a href="">Sign in</a></span>
  <div
    class="listing padding-top--24 padding-bottom--24 flex-flex center-center"
  >
    <span><a href="#">© Stackfindover</a></span>
    <span><a href="#">Contact</a></span>
    <span><a href="#">Privacy & terms</a></span>
  </div>
</div>
