.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}

.loader {
  position: fixed;
  top: calc(50% + 25px);
  left: calc(50% + 25px);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  z-index: 9999;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
