* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  border-radius: 2%;
  border: 1px solid var(--secondary-border-color);
  overflow: auto;
  padding: 0.8rem;
}

.table {
  display: grid;
  row-gap: 0.3rem;
  column-gap: 0.2rem;
  justify-items: center;
}

.table_top {
  margin-bottom: 3rem;
}

.seat {
  width: 3rem;
  height: 3rem;
  background-color: var(--secondary-border-color);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
