.input-and-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  ::ng-deep .p-button {
    width: 10%;
    margin-left: 2%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0;
  }
  ::ng-deep .pi {
    color: var(--primary-button-color);
  }
}

.field {
  ::ng-deep .p-button-danger {
    margin-top: 2rem;
  }
}

:host {
  ::ng-deep .p-button:focus,
  ::ng-deep .p-button:enabled:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

.dialog-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
