* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--color-secondary-a10);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;

  .title {
    margin-bottom: 0.5rem;
  }

  .cord {
    margin-bottom: 0.5rem;
  }

  .delete {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
