<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-autoComplete
    class="input"
    formControlName="from"
    [suggestions]="filteredCities"
    (completeMethod)="filterCities($event)"
    inputId="float-label"
    [placeholder]="'City from'"
  />
  <span class="circle-icon">&#8644;</span>
  <!-- @let from = form.get('from');
  @if (from && (from.dirty || from.touched)) {
    @if (from.hasError('required')) {
      <div>
        <small class="p-error">From is required</small>
      </div>
    }
  } -->
  <p-autoComplete
    class="input"
    formControlName="to"
    [suggestions]="filteredCities"
    (completeMethod)="filterCities($event)"
    [placeholder]="'City to'"
  />
  <!-- @let to = form.get('to');
  @if (to && (to.dirty || to.touched)) {
    @if (to.hasError('required')) {
      <div>
        <small class="p-error">To is required</small>
      </div>
    }
  } -->
  <p-calendar formControlName="date" />
  <!-- @let date = form.get('date');
  @if (date && (date.dirty || date.touched)) {
    @if (date.hasError('required')) {
      <div>
        <small class="p-error">Date is required</small>
      </div>
    }
    @if (date.hasError('pastDate')) {
      <div>
        <small class="p-error">Date cannot be in the past</small>
      </div>
    }
    @if (date.valid) {
      <p-calendar
        inputId="calendar-timeonly"
        formControlName="time"
        [timeOnly]="true"
      />
    }
  } -->
  <p-button label="Submit" type="submit" [disabled]="form.invalid" />
</form>

@if (isSubmitted) {
  @if (this.fetchTripsService.isNotFoundSig() === true) {
    <div>
      <small class="p-error">No trips found</small>
    </div>
  } @else {
    <app-date-selector></app-date-selector>
  }
}
