* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  background-color: var(--primary-card-background-color);
  margin-left: auto;
  margin-right: auto;
}

.station_content {
  width: 100%;
  padding: 1rem;
}

.map {
  width: 100%;
  height: 30rem;
  margin-right: 1rem;
}

.add_station {
  display: flex;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .add_station {
    flex-direction: column;
  }

  .map {
    width: 100%;
    height: 20rem;
    margin-right: 0;
  }
}
