@if (isLoading()) {
  <app-loader></app-loader>
}
@if (!!rideData()?.rideId && isErrorParam()) {
  <div class="trip-detail-wrapper">
    <div class="trip-detail-header">
      <a [routerLink]="['']" class="trip-back"><i class="pi pi-chevron-left"></i></a>
      <app-train-stations [rideData]="rideData()" />
    </div>

    <p-stepper class="stepper" [linear]="true" #customStepper>
      <p-stepperPanel header="Select Seat">
        <ng-template pTemplate="content" let-index="index">
          <app-carriage-type-tabs
            class="dates-board"
            (modalDataEmit)="modalData = $event"
            [allOccupiedSeats]="getAllOccupiedSeats()"
            [carList]="getCalculateCarList()"
            [dataCarriageSeats]="carriageData()"
            [carriageTypeData]="carriageTypeInfo()"
          />
          @if (isSeatSelected()) {
            <button
              pButton
              type="button"
              [rounded]="true"
              [raised]="true"
              icon="pi pi-arrow-right"
              class="next-step-button"
              (click)="nextStep(index)"
            ></button>
          }
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Book Seat">
        <ng-template pTemplate="content" let-index="index">
          <app-book-seat
            [modalData]="modalData"
            class="trip-detail-book"
            (isConfirmedEmit)="isConfirmed = $event"
          ></app-book-seat>
          <button
            pButton
            type="button"
            [rounded]="true"
            [raised]="true"
            icon="pi pi-arrow-left"
            class="back-step-button"
            (click)="backStep(index)"
          ></button>
          <button
            pButton
            type="button"
            [rounded]="true"
            [disabled]="!isConfirmed"
            [raised]="true"
            icon="pi pi-arrow-right"
            class="next-step-button"
            (click)="nextStep(index)"
          ></button>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Payment">
        <ng-template pTemplate="content" let-index="index">
          <app-payment
            [modalData]="modalData"
            (createOrderEmit)="createOrder($event)"
          ></app-payment>
          <button
            pButton
            type="button"
            [rounded]="true"
            [raised]="true"
            icon="pi pi-arrow-left"
            class="back-step-button"
            (click)="backStep(index)"
          ></button>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Success">
        <ng-template pTemplate="content" let-index="index">
          <app-success></app-success>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
} @else {
  <div>Uncorrected Param</div>
}
@if (rideError().isError) {
  <div class="trip-detail-error">
    <div>Message: {{ rideError().message }}</div>
    <div>Reason: {{ rideError().message }}</div>
  </div>
}
