.train-station-wrapper {
  font: var(--primary-md-font);

  .train-station-city {
    padding: 0 0.2rem;
  }

  .train-station-indelicate {
    font: var(--primary-sm-font);
    padding-left: 0.3rem;
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .train-station-tab-left {
    padding-left: 0.7rem;
  }

  .rain-station-route {
    color: var(--color-primary-a60);
    cursor: pointer;
  }
}
