<div class="train-station-wrapper">
  <span class="train-station-city">City{{ rideData?.firstCity }}</span>
  <span class="train-station-city"> <i class="pi pi-arrow-right"></i></span>
  <span class="train-station-city">City{{ rideData?.secondCity }}</span>
  <span>
    Departure time: {{ rideData?.startDate | date: 'MMMM d, HH:mm' }}
  </span>
  <span class="train-station-city"> <i class="pi pi-arrow-right"></i></span>
  <span> Arrival time: {{ rideData?.endDate | date: 'MMMM d, HH:mm' }} </span>
  <div class="train-station-indelicate">
    Ride {{ rideData?.rideId }}
    <span class="train-station-tab-left rain-station-route"
      >Route <i class="pi pi-chevron-down"></i>
    </span>
  </div>
</div>
