.wrapper {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  font: var(--primary-sm-font);
}

.trip {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 2;
  border-right: 2px solid #ccc;
}

.path {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-point {
  gap: 0.5rem;
  margin-right: 2%;
}

.end-point {
  gap: 0.5rem;
  margin-left: 2%;
}

.path-line {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.path-line::before,
.path-line::after {
  content: '';
  flex: 1;
  border-bottom: 4px solid #6d3493;
}

.path-line:not(:empty)::before {
  margin-right: 0.25em;
}

.path-line:not(:empty)::after {
  margin-left: 0.25em;
}

.date {
  font: var(--primary-md-font);
  font-weight: bold;
  white-space: nowrap;
}

.city {
  font: var(--secondary-sm-font);
  font-family: 'Courier New', monospace;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.arrow {
  font-size: 2rem;
  color: #6d3493;
}

.carriages {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.price {
  font: var(--primary-md-font);
  font-weight: bold;
}

.carriage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.stations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
