* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  background-color: var(--primary-card-background-color);
  margin-left: auto;
  margin-right: auto;
}

.rides_content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.button_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
