@if (loading$ | async) {
  <app-loader />
}

<div class="wrapper">
  <app-navigation />
  <div class="rides_content">
    <h2 class="title">Route {{ id() }}</h2>
    <div class="button_content">
      <p-button
        type="button"
        [rounded]="true"
        icon="pi pi-arrow-left"
        (click)="handleClickBack()"
      />
      @if (!showCreate$()) {
        <p-button icon="pi pi-plus" type="button" (click)="handleClickCreate()" />
      }
    </div>
    @if (showCreate$()) {
      <app-ride-create
        [data]="(data$ | async)!"
        (changed)="onChangeCancel($event)"
        (createRide)="onChangeCreate($event)"
      />
    }
    <div>
      @for (item of (data$ | async)?.schedule || []; track item.rideId) {
        <app-ride-info [data]="item" />
      }
    </div>
  </div>
</div>
