<form [formGroup]="form" class="form" (submit)="handleSubmit()">
  <div class="content_selection">
    <div class="form__line">
      <p class="line__label">Stations</p>
      <div formArrayName="stations">
        @for (connect of getFormsControlsStation()['controls']; track $index) {
          <div class="content_input">
            <select
              id="connected"
              name="connected"
              class="line__input"
              formControlName="{{ $index }}"
              (change)="changeSelectStation($index)"
            >
              @for (val of ((showData$ | async) || [])[$index]; track val.id) {
                <option [value]="val.id">
                  {{ val.city }}
                </option>
              }
            </select>
          </div>
        }
      </div>
    </div>
    <div class="form__line">
      <p class="line__label">Carriages</p>
      <div formArrayName="carriages">
        @for (connect of getFormsControlsCarriages()['controls']; track $index) {
          <div class="content_input">
            <select
              id="connected"
              name="connected"
              class="line__input select_carriage"
              formControlName="{{ $index }}"
              (change)="changeSelectCarriages()"
            >
              @for (val of (dataCarriages$ | async) || []; track val.code) {
                <option [value]="val.code">
                  {{ val.name }}
                </option>
              }
            </select>
            @if (
              (form.value.carriages || []).length > 2 &&
              $index !== getFormsControlsCarriages()['controls'].length - 1
            ) {
              <div class="delete">
                <p-button
                  icon="pi pi-times"
                  type="button"
                  [text]="true"
                  (click)="changeDelete($index)"
                />
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
  @if (form.errors?.['routeFormValid']) {
    <div class="alert">Minimum 3 carriages and minimum 3 stations</div>
  }
  <div class="buttons_content">
    @if (fillData$().id >= 0) {
      <p-button
        type="button"
        (click)="handleUpdate()"
        [rounded]="true"
        [disabled]="form.invalid"
        label="Update"
      />
    } @else {
      <p-button
        type="button"
        (click)="handleSubmit()"
        [rounded]="true"
        [disabled]="form.invalid"
        label="Save"
      />
    }
    <p-button label="Cancel" [rounded]="true" type="button" (click)="handleClickCancel()" />
  </div>
</form>
