* {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.content_selection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.alert {
  margin-bottom: 1rem;
}

.buttons_content {
  display: flex;
  justify-content: space-around;
}

.alert {
  align-self: center;
}

.form__line {
  width: 30%;
}

.line__label {
  margin-bottom: 1rem;
  text-align: center;
}

.line__input {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5%;
  padding: 0.5rem;
}

.content_input {
  display: flex;
  justify-content: space-between;
}

.select_carriage {
  margin-right: 1rem;
}
