* {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.content_selection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}

.alert {
  margin-bottom: 10px;
}

.buttons_content {
  display: flex;
  justify-content: space-around;
}

.alert {
  align-self: center;
}

.form__line {
  width: 30%;
}

.line__label {
  margin-bottom: 10px;
  text-align: center;
}

.line__input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.content_input {
  display: flex;
  justify-content: space-between;
}

.select_carriage {
  margin-right: 10px;
}

.delete {
  ::ng-deep .p-button {
    width: 100%;
    margin-left: 2%;
    margin-top: auto;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0;
  }
  ::ng-deep .pi {
    color: var(--primary-button-color);
  }
}

:host {
  ::ng-deep .p-button:focus,
  ::ng-deep .p-button:enabled:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
