<div class="wrapper">
  @if (modalData) {
    <div class="content">
      <h2>You selected:</h2>
      <h4>Car number: {{ modalData.car }}</h4>
      <h4>Seat number: {{ modalData.numberSeat }}</h4>
      <h4>Price: {{ modalData.price | currency }}</h4>
      <h4>In the nex step you will be asked for payment</h4>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="confirm" [(ngModel)]="isConfirmed" (click)="confirm()" />
        <label for="confirm">Confirm to proceed</label>
      </div>
    </div>
  } @else {
    <div>There is no selected seats</div>
  }
</div>
