<div class="wrapper">
  <nav class="nav">
    <a
      routerLink="/admin/stations"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Stations</a
    >
    <div class="line"></div>
    <a
      routerLink="/admin/carriages"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Carriages</a
    >
    <div class="line"></div>
    <a
      routerLink="/admin/routes"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      [routerLinkActiveOptions]="{ exact: true }"
      >Routes</a
    >
    <div class="line"></div>
  </nav>
</div>
