<div class="wrapper">
  <h3 class="title">Route {{ data?.id }}</h3>
  <p class="title_connects">Cities:</p>
  <p class="connects first_connect">{{ cities$ | async }}</p>
  <p class="title_connects">Carriage Types:</p>
  <p class="connects">{{ carriages$ | async }}</p>
  <div class="actions">
    <p-button
      class="icon"
      type="button"
      [text]="true"
      icon="pi pi-pencil"
      (click)="handleClickEdit()"
    />
    <p-button
      class="icon"
      type="button"
      [text]="true"
      icon="pi pi-truck"
      (click)="handleClickRide()"
    />
    <p-button
      class="icon"
      type="button"
      [text]="true"
      icon="pi pi-trash"
      (click)="handleClickDelete()"
    />
  </div>
  @if (showConfirm$()) {
    <app-confirm
      [data]="data!.id"
      (changed)="onDeleteNo($event)"
      (yesDelete)="onDeleteYes($event)"
    />
  }
</div>
