/* You can add global styles to this file, and also import other style files */

@import './variables.scss';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

// /* Style reset */
// /* Box sizing rules */
body {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
