@if (loading$ | async) {
  <app-loader />
}
@if (showAlert$()) {
  <app-message [error]="true" [text]="'Please cancel the form'" />
}
<div class="wrapper">
  <app-navigation />
  <div class="router_content">
    @if (!showCreate$()) {
      <div class="button">
        <p-button icon="pi pi-plus" type="button" (click)="handleClickCreate()" />
      </div>
    } @else {
      <app-form-router [data]="edit$()" (changed)="onCancelEdit($event)" />
    }
    @for (val of routes$ | async; track val.id) {
      <app-router-info
        [data]="val"
        (changed)="onClickEdit($event)"
        (changedDelete)="onClickDelete($event)"
      />
    }
  </div>
</div>
