.form {
  width: 100%;
}

.form__line {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  max-width: 200px;
}

.line__label {
  font-weight: var(--primary-md-font-weight);
  margin-bottom: 10px;
}

.line__input {
  height: 25px;
  outline: none;
  border-radius: 10px;
  padding-left: 5px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 5px;

  &:hover {
    outline: 1px solid var(--primary-button-hover-color);
  }

  &:focus {
    outline: 1px solid var(--primary-button-hover-color);
  }
}

.start {
  font-size: 12px;
}

.alert {
  font-size: 12px;
  color: var(--primary-error-color);
}

input.ng-touched.ng-invalid {
  border: 1px solid var(--primary-error-border-color);
}

input.ng-touched.ng-valid {
  border: 1px solid var(--primary-success-border-color);
}

select.ng-touched.ng-invalid {
  border: 1px solid var(--primary-error-border-color);
}

select.ng-touched.ng-valid {
  border: 1px solid var(--primary-success-border-color);
}

.button {
  width: 100%;
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);

  &:hover {
    background-color: var(--primary-button-hover-color);
  }

  &.disabled {
    background-color: var(--primary-button-hover-color);
    opacity: 0.33;
    cursor: default;
  }
}
